.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-header {
  margin: 12vh 0vh 10vh 16vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.img-girl {
  width: 50%;
}
